---
import { getDatabase } from '../../data/database'

// @ts-ignore
import { forbiddenResponse } from '../../util'

// astro boilerplate
// import entities from '../../data/entities'
// export function getStaticPaths() {
// 	return Object.keys(entities).map((id) => ({
// 		params: { entityId: id },
// 	}))
// }

// we have the entity id from the url param
const entityId = Astro.params.entityId
if (!entityId) return forbiddenResponse('No entity id')

// fetch details for this entity
const database = getDatabase(entityId)
const entity = database.entities[entityId]

// confirm we have results
if (!entity) return forbiddenResponse('No entity match')

// apply cookie and redirect
Astro.cookies.set('entityEmail', entity.contact.email, {
	path: '/',
})
const redirect = `/invoices/${entityId}`
return Astro.redirect(redirect, 302)
---

<a href={redirect}>Login as {entityId}</a>
