* {
	box-sizing: border-box;
}

body {
	/* https://gist.github.com/tmslnz/bc6dcd0a6e75bf20a28b */
	font-family: Cochin, -apple-system-body, HelveticaNeue, LucidaGrande;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	cursor: default;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 1rem 0 0.5rem;
}

/*
h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-headline1, HelveticaNeue, LucidaGrande;
}

th {
	font-family: -apple-system-headline2, HelveticaNeue, LucidaGrande;
}

h1, h2, th, body {
	font-family: Baskerville, Big Caslon; /* Cochin, Copperplate, Didot
}
*/

em {
	text-decoration: underline;
	font-style: unset;
}

pre,
code {
	margin: 0;
	padding: 0;
	font-family: unset;
}

table {
	width: 100%;
}
th {
	text-align: right;
	width: 50%;
	vertical-align: top;
}
th,
td {
	padding: 0 2%;
}

article {
	margin: 10vh 10vw;
}
article.error {
	padding: 10vh 10vw;
}
article.invoices {
	padding: 0 5vw;
	padding-bottom: 5vh;
}

section {
	margin: 3rem 2rem;
	page-break-inside: avoid;
}

.capitalise:first-letter {
	text-transform: capitalize;
}

body {
	background: rgba(0, 0, 0, 0.04);
}

/* ================================================ */
/* INVOICE STYLES */

article {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article em {
	display: block;
}

.payment-complete {
	color: darkgreen;
	font-weight: bold;
	text-decoration: underline;
}
.payment-incomplete {
	color: rgb(227, 147, 0);
	font-weight: bold;
}
.payment-overdue {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

/* ================================================ */
/* PRINT STYLES */

@page {
	/* only cm supported, no safari support http://caniuse.com/#feat=css-paged-media */
	margin: 2.5cm;
}
@media print {
	body {
		background: white;
		font-size: 10pt;
	}
	header,
	footer {
		display: none !important;
	}

	a {
		color: inherit !important;
		text-decoration: inherit !important;
	}

	article.invoice {
		border: none;
		box-shadow: none;
	}
	article {
		margin: 0;
	}
	section {
		margin: 3rem 0;
	}
	h1 {
		font-size: 1.8em;
		margin-top: 0;
	}
	section:last-child {
		margin-bottom: 0;
	}
}

/* ================================================ */
/* HOME ARROW BUTTON */

.home a {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;

	font-size: 10vh;
	padding-left: 10vw;

	transition: padding 0.4s, color ease-in-out 0.4s;

	margin-top: -0.5vh;
	font-family: Asap, Noto Serif, Noto Sans, Peddana, PT Mono, Archivo Narrow,
		Dosis, Crimson Text, Fira Sans, Comfortaa, News Cycle, Old Stanard TT, Cardo,
		Trirong;
}
.home a,
.home a:visited {
	text-decoration: none !important;
	color: #ddd;
}
.home a:hover {
	padding-left: 7vw;
	color: #0000ee;
}
.home a:active {
	padding-left: 3vw;
}
