---
import type { Invoice } from '../types'
import { getInvoiceShortType } from '../util'
import CurrencyComponent from './Currency.astro'
export interface Props {
	invoice: Invoice
}
const { invoice } = Astro.props
if (!invoice.items?.length) return ''
const shortType = getInvoiceShortType(invoice)
---

<section>
	<h2>{shortType} Items</h2>
	<table>
		<tr>
			<td colspan="2" class="w100">
				<ol class="items">
					{
						invoice.items.map((invoiceItem) => (
							<li>
								<CurrencyComponent
									amount={invoiceItem.amount}
									currency={invoice.currency}
								/>
								for {invoiceItem.name}
							</li>
						))
					}
				</ol>
			</td>
		</tr>
	</table>
</section>
