---
export interface Props {
	title: string
	class?: string
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="generator" content={Astro.generator} />
		<style is:global>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;
		</style>
		<title>{Astro.props.title || 'Bevry Billing'}</title>
	</head>
	<body
		class={Astro.props.class ||
			'antialiased font-sans bg-gray-200 overflow-hidden'}
	>
		<slot />
	</body>
</html>
