---
import Nav from "./nav.astro";
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<Nav />
<article class="error">
  <h1>${title}</h1>
  <h2>${description}</h2>
</article>
